/* stylelint-disable selector-max-id */

@import '../../core';
@import 'modern-normalize/modern-normalize'; // 1.6kb gzipped
@import '../../1-elements/styles';

html {
    min-height: 100vh;
    background-image: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body {
    background: transparent;
}

form {
    @include no-first-last-margin;
}

#login {
    @include no-first-last-margin;
    @include theme($base-theme);
    @include themeable;
    @include shadow;

    display: flex;
    width: 320px;
    max-width: 100%;
    height: calc(100vh - (var(--s-container) * 2));
    flex-direction: column;
    padding: var(--s-container);
    margin: var(--s-container);
    gap: 1rem;

    > * {
        margin: 0;
    }
}

.wp-pwd {
    display: flex;
    overflow: hidden;
    border: var(--border-width) solid currentColor;

    input {
        flex-grow: 1;
    }

    button {
        min-width: 0;
    }

    > * {
        border: 0;
        border-radius: 0;
    }
}

.forgetmenot {
    display: inline-flex;
    align-items: baseline;

    > * {
        margin: 0;
    }

    input {
        margin-inline-end: 0.5em;
    }
}

#nav {
    margin-block: auto 0;
}

#backtoblog {
    display: none;
}
