.header {
    z-index: 1;
    padding: var(--s-paragraph) 0;
    margin: 0; // Remove the margin applied by the block class

    @if $fixed-header == true {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    } @else {
        position: relative;
    }

    // Use this pseudo element to hide the dropdown menu from appearing through
    // the middle of the menu. A background must be applied to this element or
    // the header which then get inherited. You might need to review the z-index
    // of the dropdown so it appears beneath this element.
    // &::before {
    //     @include absolute-cover;

    //     z-index: -1;
    //     background: inherit;
    //     content: '';
    // }

    &__outer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--s-grid);
    }

    &__logo {
        position: relative;
        z-index: 1;
        width: rem(140px);
        flex-shrink: 0;
        margin-inline-end: auto;

        @include breakpoint($primary-breakpoint) {
            width: rem(180px);
        }

        svg {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__burger {
        z-index: 1;

        @include breakpoint($header-breakpoint) {
            display: none;
        }
    }
}
