/* stylelint-disable selector-max-compound-selectors */

.header__menu {
    display: grid;
    gap: var(--s-grid);

    @include breakpoint($header-breakpoint) {
        // align-items: center;
        grid-auto-flow: column;
    }

    .current-menu-item {
        > a {
            @include link-interact;
        }
    }

    // ---------------------------------------------------
    // li: All menu items with submenus
    // ---------------------------------------------------
    .menu-item-has-children {
        @include breakpoint($header-breakpoint) {
            position: relative;
        }

        // Hide sub menus that are not opened
        > button {
            display: inline-flex;
            align-items: center;
            gap: 0.5em;

            &::after {
                --border: var(--border-width) solid currentColor;
                display: block;
                width: 0.5em;
                height: 0.5em;
                border-right: var(--border);
                border-bottom: var(--border);
                content: '';
                transform: rotate(45deg);
            }
        }

        [aria-expanded='false']+.sub-menu-outer {
            @include breakpoint($until: $header-breakpoint) {
                display: none;
            }

            @include breakpoint($header-breakpoint) {
                --y: #{rem(25px)};
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .sub-menu-outer {
        @include breakpoint($until: $header-breakpoint) {
            margin-block-start: calc(var(--s-paragraph) / 2);
        }

        @include breakpoint($header-breakpoint) {
            @include themeable(false);
            @include theme('black');
            @include transition(opacity, transform, visibility);

            position: absolute;
            top: calc(100% + 1rem);
            left: 50%;
            display: block;
            padding: calc(var(--s-container) / 2) var(--s-container);
            transform: translate(-50%, var(--y, 0));
            white-space: nowrap;
        }
    }

    .sub-menu {
        display: grid;
        gap: calc(var(--s-paragraph) / 2);
    }
}
