.header__navigation {
    &-outer {
        @include breakpoint($until: $header-breakpoint) {
            @include theme('grey');
            @include themeable(false);
            @include transition(opacity, visibility);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100vh;

            // Only apply these styles if the menu is closed
            [aria-expanded='false'] + & {
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
            }
        }
    }

    &-inner {
        @include breakpoint($until: $header-breakpoint) {
            padding: var(--header-height) var(--s-container) var(--s-container);
        }
    }

    // ---------------------------------------------------
    // Target all lists in the menu
    // ---------------------------------------------------
    ul {
        @include list-reset-hard;
    }
}
