.js .appear {
    @include breakpoint($primary-breakpoint) {
        @include transition(opacity, transform);
        // Default animation is fade up
        opacity: 0;
        transform: translateY(2em);
    }

    @include no-motion {
        opacity: 1 !important;
    }

    // fade to the right
    &.is-to-end {
        @include breakpoint($primary-breakpoint) {
            transform: translateX(-2em);
        }
    }

    // End animation state
    &.is-inview {
        @include breakpoint($primary-breakpoint) {
            opacity: 1;
            transform: none;
        }
    }
}
