// Forms: input fields
$input-background: transparent;
$input-color: inherit;
$input-border-color: currentColor;
$input-custom-select: true;
$input-gap: calc(var(--s-paragraph) * 0.5);
$input-padding: calc(var(--s-paragraph) * 0.5);
$input-placeholder-color: currentColor;
$input-radius: #{var(--radius)};

// Forms: other
$form-error-message-color: inherit;
$label-spacing: calc(var(--s-paragraph) * 0.25);
$textarea-height: rem(180px);
