@use "sass:map";

// Base settings
$base-theme: 'white';
$base-font-family: system-ui;
$base-font-weight: 400;
$base-line-height: 1.5;
$base-bold-weight: 700;

// Headings
$heading-color: inherit;
$heading-font-family: inherit;
$heading-line-height: 1.2;
$heading-font-weight: bolder;

// Button theme
$button-theme: map.get($color-map, $base-theme);

// Transitions
$transition-time: 0.25s;
$transition-ease: ease-in-out;

// Box Shadow
$box-shadow-horizontal: 0;
$box-shadow-vertical: 0;
$box-shadow-blur: 0;
$box-shadow-spread: 0;
$box-shadow-color: rgba(color('black'), 0.8);

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// The next code block is only needed if we have a fixed header
// -----------------------------------------------------------------------------
$fixed-header: false;
