// Controls the primary size at which the majority of the site will switch from
// the mobile layout to the desktop layout
$primary-breakpoint: large;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px,
);

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (small, medium, large, xlarge);
