@use "sass:map";
@import '../../core';

// @import './styles/ui-datepicker';

// -----------------------------------------------------------------------------
// Outer wrapper for the whole thing
// -----------------------------------------------------------------------------
// .gform_wrapper {
//     position: relative;
// }

// -----------------------------------------------------------------------------
// Validation summary
// -----------------------------------------------------------------------------
.gform_validation_errors {
    @include no-first-last-margin;

    margin-block-end: calc(var(--s-block) / 2);
}

.gform_submission_error {
    font-size: var(--fs-h4);
}

// -----------------------------------------------------------------------------
// Form header
// -----------------------------------------------------------------------------
.gform_heading {
    margin-block-end: calc(var(--s-block) / 2);
}

.gform_title {
    margin-block-start: 0;
}

.gform_description {
    @include no-first-last-margin;
}

// -----------------------------------------------------------------------------
// Progress bar
// -----------------------------------------------------------------------------
.gf_progressbar_wrapper {
    margin-block-end: calc(var(--s-block) / 2);
}

.gf_progressbar_title {
    @include screen-reader;
}

.gf_progressbar {
    border: var(--border-width) solid currentColor;
}

// Can this be replaced with the inherit-theme setup?
.gf_progressbar_percentage {
    $background: map.get($color-map, $base-theme);
    $foreground: map.get($color-map, $background);

    padding: $input-padding;

    &:not(.percentbar_0) {
        background: color($background);
        color: color($foreground);
    }
}

// -----------------------------------------------------------------------------
// Pages
// -----------------------------------------------------------------------------
.gform_footer {
    margin-block-start: calc(var(--s-block) / 2);
}

.gform_page_footer {
    display: flex;
    gap: var(--s-paragraph);
    // Create space between the page fields and the page controls
    margin-block-start: calc(var(--s-block) / 2);
}

.gform_previous_button {
    margin-inline-end: auto;
}

.gform_next_button {
    margin-inline-start: auto;
}

// -----------------------------------------------------------------------------
// Fields
// Create space between fields
// -----------------------------------------------------------------------------
.gform_fields {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-paragraph);
}

// -----------------------------------------------------------------------------
// Generic field wrapper
// -----------------------------------------------------------------------------
.gfield {
    flex-basis: 100%; // Make fields full width by default
    flex-grow: 1;
    margin: 0; // Remove the margins added to fieldset

    > .gfield_label {
        > .gfield_required {
            position: relative;
            top: -0.1em;
            font-size: var(--fs-smallest);
            font-weight: $base-font-weight;
            margin-inline-start: 0.5em;
        }
    }

    &--width {
        &-half {
            @include breakpoint($primary-breakpoint) {
                flex-basis: calc(40%);
            }
        }

        &-third {
            @include breakpoint($primary-breakpoint) {
                flex-basis: calc(26%);
            }
        }

        &-quarter {
            @include breakpoint($primary-breakpoint) {
                flex-basis: calc(21%);
            }
        }
    }

    &_description {
        margin-block-end: calc(var(--s-paragraph) * 0.5);
    }
}

// -----------------------------------------------------------------------------
// Field Error handling
// -----------------------------------------------------------------------------
.gfield_validation_message {
    margin-block-start: calc(var(--s-paragraph) / 2);
}

// -----------------------------------------------------------------------------
// Fields with multiple fields
// -----------------------------------------------------------------------------
.ginput_complex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-paragraph);

    > * {
        flex-grow: 1;
    }
}

.name_prefix,
.hour_minute_colon,
.gfield_time_ampm {
    flex-grow: 0;
}

.hour_minute_colon {
    align-self: center;
}

.gf_clear {
    display: none;
}

// -----------------------------------------------------------------------------
// Specific field types
// -----------------------------------------------------------------------------
.gfield-type-hidden {
    display: none;
}

.gfield_time_ampm,
.name_prefix_select,
.ginput_address_country,
.ginput_container_select {
    position: relative;

    &::after {
        position: absolute;
        right: 1em;
        bottom: 0.75em;
        width: 0.75em;
        height: 0.75em;
        border-right: rem(1px) solid currentColor;
        border-bottom: rem(1px) solid currentColor;
        content: '';
        pointer-events: none;
        transform: translateY(-75%) rotate(45deg);
    }

    select {
        padding-inline-end: 3rem;
    }
}

.gfield_list_group {
    display: flex;
    align-items: center;
    gap: var(--s-paragraph);
    margin-block-start: var(--s-paragraph);

    &:first-child {
        margin-block-start: 0;
    }
}

.gfield_list_group_item {
    flex-grow: 1;
}

.gfield_list_icons {
    display: flex;
    gap: calc(var(--s-paragraph) / 2);
}

// -----------------------------------------------------------------------------
// Honeypot
// -----------------------------------------------------------------------------
.gform_validation_container {
    display: none;
}

// -----------------------------------------------------------------------------
// Normally a checkbox or a radio input
// -----------------------------------------------------------------------------
.ginput_container_consent,
.gchoice {
    display: flex;
    // Only works for single line text. If you need to support multiple lines
    // of text use baseline and then some funky offsets...
    align-items: center;

    label {
        font-weight: inherit; // Labels normally get a bold
        margin-block-end: 0;
        margin-inline-start: 0.5em;
    }
}
