.card-grid {
    &__grid {
        display: grid;
        gap: var(--s-grid);
        grid-template-columns: repeat(var(--columns, 1), 1fr);

        @include breakpoint('medium') {
            --columns: 2;
        }

        @include breakpoint('large') {
            --columns: 3;
        }
    }

    &.is-scroll {
        @include breakpoint($until: $primary-breakpoint) {
            .card-grid {
                &__grid {
                    @include overflow-scroll;
                }
            }
        }
    }
}
