/* stylelint-disable selector-max-compound-selectors */

// -----------------------------------------------------------------------------
// We always pull alignwide blocks together
//
// This duplicates the alignfull and alignwide selector which is already applied
// at othger breakpoints so should probably clean this up
// -----------------------------------------------------------------------------
@include breakpoint($until: width('normal')) {
    .alignfull,
    .alignwide,
    .alignnormal {
        // -------------------------------------------------------------------------
        // Pull adjacent different background color blocks together
        // -------------------------------------------------------------------------
        &.has-background + &.has-background {
            margin-block-start: calc(var(--s-block) * -1);
        }

        // -------------------------------------------------------------------------
        // Pull adjacent same background color blocks together
        // -------------------------------------------------------------------------
        @each $background, $foreground in $color-map {
            &.has-#{$background}-background-color + &.has-#{$background}-background-color {
                margin-block-start: calc(var(--s-block) * -2);
            }
        }

        // -------------------------------------------------------------------------
        // Pull blocks before and seperated by the main tag if they both have backgrounds
        // -------------------------------------------------------------------------
        &.has-background + .main > .article > &.has-background:first-child {
            margin-block-start: calc(var(--s-block) * -1);
        }

        // -------------------------------------------------------------------------
        // Pull same background color blocks together when seperated by the main tag
        // -------------------------------------------------------------------------
        @each $background, $foreground in $color-map {
            &.has-#{$background}-background-color +.main>.article> &.has-#{$background}-background-color:first-child {
                margin-block-start: calc(var(--s-block) * -2);
            }
        }
    }

    // If the last block in the main tag has a background and is aligned wide, and
    // the first block after the main tag is align wide and has a background, pull
    // them together
    .last-block-alignnormal.last-block-has-background + .alignnormal.has-background,
    .last-block-alignnormal.last-block-has-background + .alignwide.has-background,
    .last-block-alignnormal.last-block-has-background + .alignfull.has-background,
    .last-block-alignfull.last-block-has-background + .alignnormal.has-background,
    .last-block-alignwide.last-block-has-background + .alignnormal.has-background {
        margin-block-start: 0;
    }

    // If the last block in the main tag has a background and is aligned wide, and
    // the first block after the main tag is align wide and has the same background,
    // pull them together.
    //
    // This duplicates the alignfull selector which is already applied at all
    // breakpoints so should probably clean this up
    .last-block-alignnormal,
    .last-block-alignwide,
    .last-block-alignfull {
        @each $background, $foreground in $color-map {
            &.last-block-has-#{$background}-background-color+.alignnormal.has-#{$background}-background-color,
            &.last-block-has-#{$background}-background-color+.alignwide.has-#{$background}-background-color,
            &.last-block-has-#{$background}-background-color+.alignfull.has-#{$background}-background-color {
                margin-block-start: calc(var(--s-block) * -1);
            }
        }
    }

    // Whatever the last block is on the page, if it has a background and is
    // alignwide, we need to remove the space added by the footer
    //
    // Remove this code if you always want to have a gap at the bottom of the
    // page above the footer
    .site-wrapper__outer,
    .site-wrapper__outer > .main:last-child,
    .site-wrapper__outer > .main:last-child > .article:last-child {
        > *:last-child.alignnormal.has-background {
            margin-block-end: calc(var(--s-block) * -1);
        }
    }
}
