/* stylelint-disable selector-max-compound-selectors */

// -----------------------------------------------------------------------------
// Pull different colors together when they are seperated by a main tag
// -----------------------------------------------------------------------------
// .has-background {
//     +.main {
//         >.has-background {
//             &:first-child {
//                 margin-block-start: calc(var(--s-block) * -1);
//             }
//         }
//     }
// }

// // -----------------------------------------------------------------------------
// // Pull same colors together when they are seperated by a main tag
// // -----------------------------------------------------------------------------
// @each $background, $foreground in $color-map {
//     .has-#{$background}-background-color+.main>.has-#{$background}-background-color:first-child {
//         margin-block-start: calc(var(--s-block) * -2);
//     }
// }

// -----------------------------------------------------------------------------
// Whatever the first block on the page is, we need to push it below the fixed
// header and add some extra space so things don't site together
// -----------------------------------------------------------------------------
@if $fixed-header {
    // Picks up pages where there is content before the main tag/class. Most
    // likely from the template system

    // Template used
    .site-wrapper__outer > *:first-child:not(.main),

    // No template used, article class not exists
    .site-wrapper__outer > .main:first-child > *:first-child:not(.article),

    // No template used, article class exists
    .site-wrapper__outer > .main:first-child > .article:first-child > *:first-child {
        --calculation: calc(var(--header-height, 0px) + var(--additional, 0px));

        @include breakpoint($primary-breakpoint) {
            --calculation: calc(var(--s-paragraph) + var(--header-height, 0px) + var(--additional, 0px));
        }

        &:not(.has-background),
        &.has-background.alignnormal {
            margin-block-start: var(--calculation);
        }

        &.has-background.alignwide,
        &.has-background.alignfull {
            padding-block-start: var(--calculation);
        }
    }
}

// -----------------------------------------------------------------------------
// Fix spacing for the last block on the page if it has a background color
// This is broken at certain breakpoints and the alignwide and normal classes
// -----------------------------------------------------------------------------
// .site-wrapper__outer,
// .site-wrapper__outer > .main:last-child,
// .site-wrapper__outer > .main:last-child > .article:last-child {
//     > *:last-child.alignfull.has-background {
//         margin-block-end: calc(var(--s-block) * -1);
//     }
// }
