.is-desktop {
    @include breakpoint($until: $primary-breakpoint) {
        display: none;
    }
}

.is-mobile {
    @include breakpoint($primary-breakpoint) {
        display: none;
    }
}

.hidden {
    display: none !important;
}

.no-js .no-js-hidden {
    display: none;
}
