.search-and-filter {
    &__form {
        display: grid;
        gap: var(--s-grid);
        grid-template-columns: 20% auto;
    }

    &__group {
        padding: 0;
        border: 0;
        margin: 0;
    }

    &__input {
        margin-block-end: 0.25em;

        label {
            font-weight: inherit;
            margin-block-end: 0;
        }
    }

    &__items-wrap {
        flex-grow: 1;
    }

    &__results {
        > * {
            margin: 0 !important;
        }

        .block__outer {
            width: auto !important;
            padding: 0 !important;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        gap: var(--s-item);
        margin-block-start: calc(var(--s-block) / 2);
    }
}
