@charset "UTF-8";

/// Helper function to retrieve a em size
/// Converts a pixel to an em size based on a base font size
///
/// @param {string} $target - The target font size
/// @param {string} $base - The base font size
///
/// @example scss
///     font-size: em(50px);
///
/// @example scss
///     font-size: em(50px, 20px);
///
/// @access public

@use 'sass:math';

@function em($target, $base: 16) {
    $size: math.div(strip-units($target), strip-units($base));

    @return $size * 1em;
}
