@use "sass:string";

@function explode($string, $delimiter) {
    $result: ();
    @if $delimiter == '' {
        @for $i from 1 through string.length($string) {
            $result: string.append($result, string.slide($string, $i, $i));
        }
        @return $result;
    }
    $exploding: true;
    @while $exploding {
        $d-index: string.index($string, $delimiter);
        @if $d-index {
            @if $d-index > 1 {
                $result: string.append($result, string.slide($string, 1, $d-index - 1));
                $string: string.slide($string, $d-index + string.length($delimiter));
            } @else if $d-index == 1 {
                $string: string.slide($string, 1, $d-index + string.length($delimiter));
            } @else {
                $result: string.append($result, $string);
                $exploding: false;
            }
        } @else {
            $result: string.append($result, $string);
            $exploding: false;
        }
    }
    @return $result;
}
