@charset "UTF-8";
@use "sass:meta";

/// Helper function to determine the type of a variable
///
/// @param {string} $type - The type you would like to check against
///
/// @param {string} $var - The variable you would like to check
///
/// @return {Bool}
///
/// @example scss
///    @if is('list', $var) {
///
/// @access public

@function is($type, $var) {
    @return meta.type-of($var) == $type;
}

/// Helper function to determine if a variable is a string
///
/// @param {string} $var - The variable you would like to check
///
/// @return {Bool}
///
/// @example scss
///    @if is-number($var) {
///
/// @access public

@function is-string($var) {
    @return is('string', $var);
}

/// Helper function to determine if a variable is a number
///
/// @param {string} $var - The variable you would like to check
///
/// @return {Bool}
///
/// @example scss
///    @if is-number($var) {
///
/// @access public

@function is-number($var) {
    @return is('number', $var);
}

/// Helper function to determine if a variable is a map
///
/// @param {string} $var - The variable you would like to check
///
/// @return {Bool}
///
/// @example scss
///    @if is-map($var) {
///
/// @access public

@function is-map($var) {
    @return is('map', $var);
}

/// Helper function to determine if a variable is a list
///
/// @param {string} $var - The variable you would like to check
///
/// @return {Bool}
///
/// @example scss
///    @if is-map($var) {
///
/// @access public

@function is-list($var) {
    @return is('list', $var);
}
