@charset "UTF-8";
@use "sass:string";

/// Helper function to retrieve a space value defined in variables.
/// Useful for removing random spacing used in the code base
///
/// @param {string} $string - The string to search through
///
/// @param {string} $search - The string to search for
///
/// @param {string} $replace [''] - The string to put in place of $search
///
/// @example scss
///     $string: str-replace('This is a test', 'test');
///
/// @example scss
///     $string: str-replace('This is a test', 'test', 'monkey');
///
/// @access public

@function str-replace($string, $search, $replace: '') {
    $index: string.index($string, $search);

    @if $index {
        @return string.slice(
            $string, 1, $index - 1) + $replace + string.replace(string.slice($string, $index + string.length($search)),
            $search,
            $replace
        );
    }

    @return $string;
}
