@charset "UTF-8";

/// Helper function to return a unit value from a unit string
///
/// @param {string} $number - The unit and value to return the value of
///
/// @example scss
///     $number: strip-units(50px);
///
/// @access public

@use 'sass:math';
@use 'sass:meta';

@function strip-units($number) {
    @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
        @return math.div($number, $number * 0 + 1);
    }

    @return $number;
}
