@charset "UTF-8";
@use "sass:list";

/// Generates a transition value for multiple properties in line line
/// Useful for reducing the amount of code and keeping transitions consistent between uses
///
/// @param {string} $properties - The properties to transform
///
/// @example scss
///     transition: transition(opacity);
///
/// @example scss
///     transition: transition(opacity, background-color);
///
/// @access public

@function transition($properties...) {
    $transitions-string: ();

    @each $property in $properties {
        // $delay: var(--#{$property}-delay, var(--delay, 0s)); // Support indidual delays on properties
        $delay: var(--delay, 0s); // Universal delay on properties

        $transitions-string: list.append($transitions-string, $property $transition-time $transition-ease $delay, comma);
    }

    @return $transitions-string;
}
