@charset "UTF-8";
@use "sass:map";

/// Helper function to retrieve a unit value defined in variables.
/// Useful for removing random values used in the code base
///
/// @param {string} $unit - The name of the unit as defined in the sass map
///
/// @example scss
///     margin-block-start: units('layout');
///
/// @access public

@function units($index, $breakpoint: false, $multiplier: 1) {
    // -------------------------------------------------------------------------
    // The most likely variation is that $index is a reference to an item in the
    // $units map
    // -------------------------------------------------------------------------
    @if is-string($index) == true {

        // Check if the
        @if map.has-key($units, $index) {
            $unit: map.get($units, $index);

            @if is-map($unit) == true and $breakpoint != false {
                @if (map.has-key($unit, $breakpoint)) {
                    @return map.get($unit, $breakpoint) * $multiplier;
                } @else {
                    @error '#{$breakpoint} does not exist in #{$index} unit';
                }
            } @else {
                @return $unit;
            }
        } @else {
            @error '#{$index} does not exist in $units';
        }
    }

    // -------------------------------------------------------------------------
    // If $index is a map, we have been passed a map instead of a reference to
    // the spaces map. At this point we return one of the following
    // - If breakpoint is false, we return the map
    // -- If the breakpoint exists in the map, return it
    // -- If the breakpoint does not exist, return false
    // -------------------------------------------------------------------------
    @if is-map($index) == true {

        @if $breakpoint != false {
            @if map.has-key($index, $breakpoint) {
                @return map.get($index, $breakpoint) * $multiplier;
            } @else {
                @return false;
            }
        }

        @return $index * $multiplier;
    }

    // -------------------------------------------------------------------------
    // rarely, $index will be a number and we will just need to use it
    // -------------------------------------------------------------------------
    @if is-number($index) {
        @return $index * $multiplier;
    }

    // Similar to an error but when we are looking at resolving the additional
    // value we need a default of false;
    @return false;
}
