@import '../../core';

.navigation {
    &__list {
        @include list-reset;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--s-item);

        .prev,
        .next {
            position: relative;
            display: block;
            width: 1em;
            aspect-ratio: 1/1;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 35%;
                height: 35%;
                border-top: 1px solid currentColor;
                border-right: 1px solid currentColor;
                content: '';
            }
        }

        .next {
            &::before {
                transform: translate(-75%, -50%) rotate(45deg);
            }
        }

        .prev {
            &::before {
                transform: translate(-25%, -50%) rotate(225deg);
            }
        }
    }
}
