.alignnormal,
.alignwide,
.alignfull {
    margin-block: var(--s-block);
}

.is-content-justification-center {
    justify-content: center;
}

.is-content-justification-right {
    justify-content: flex-end;
}

.is-content-justification-space-between {
    justify-content: space-between;
}

.is-vertical {
    flex-direction: column;

    &.is-content-justification-center {
        align-items: center;
    }

    &.is-content-justification-right {
        align-items: flex-end;
    }
}

// -----------------------------------------------------------------------------
// Align Center
// Not all designs make use of left and right aligned content, and therefore
// the CSS is disabled by default
// -----------------------------------------------------------------------------
// .alignright,
// .alignleft {
//     @include breakpoint($primary-breakpoint) {
//         max-width: 50%;
//         margin-block-start: 0.4em; // Magic number
//     }
// }

// .alignright {
//     @include breakpoint($primary-breakpoint) {
//         margin-inline-start: var(--s-block);
//         float: right;
//     }
// }

// .alignleft {
//     @include breakpoint($primary-breakpoint) {
//         margin-inline-end: var(--s-block);
//         float: left;
//     }
// }

// -----------------------------------------------------------------------------
// Align Center
// Most things are aligned to the container width which is quite skinny so
// aligning to the center is redundant. Should work out how to remove the align
// center option in gutenberg as its largely not relevant
// -----------------------------------------------------------------------------
// .aligncenter {
//     display: block; // Some of the items that are centered are not block level. Lets fix that
//     margin-inline: auto;
// }
