.has-background {
    @include themeable;
}

@each $background, $foreground in $color-map {
    .has-#{$background}-background-color {
        @include theme($background, false, true);

        // Need to review this with the change to sbg and bg variables. Might
        // not always need to do this here.
        // .btn {
        //     @include theme($background, true);
        // }
    }
}

// -----------------------------------------------------------------------------
// has-xxx-color
// -----------------------------------------------------------------------------
// @each $name, $hex in $colors {
//     .has-#{$name}-color {
//         color: $hex;
//     }
// }
