// .has-normal-font-size,
// .has-regular-font-size {
//     font-size: var(--fs-base);
// }

// .has-small-font-size {
//     font-size: var(--fs-small);
// }

// .has-large-font-size {
//     font-size: var(--fs-large);
// }

// .has-larger-font-size {
//     font-size: var(--fs-larger);
// }

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: end;
}
