@mixin alignnormal {
    @include alignlogic(width('normal'));
}

@mixin alignwide {
    @include alignlogic(width('wide'));
}

@mixin alignfull {
    margin-inline: calc(-50vw + 50%);
}

@mixin alignlogic($width) {
    margin-inline: calc(-50vw + 50%);

    @include breakpoint($width) {
        margin-inline: calc((#{rem($width)} - 100%) / -2);
    }
}
