@mixin block($contain: false, $width: width('normal')) {
    // Blocks by default get paragraph spacing. If an alignment class is added,
    // then the margin will be overwritten in the align{normal,wide,full} class
    margin-block: var(--s-paragraph);

    // If an element to contain has been passed in, lets contain it
    @if $contain != false {
        &.alignnormal,
        &.alignwide,
        &.alignfull {
            #{$contain} {
                @include container($width);
            }
        }

        // Theres some awkwardness here about the padding added to the
        // container between the $width value and the breakpoint as we need
        // to enforce a minimum amount of space at the screen width whilst
        // getting rid of it eventually. It would be nice if it was fluid
        // but my brain cant work it out...
        &.alignnormal:not(.has-background) {
            #{$contain} {
                $bp: rem($width) + map-get-deep($units, 'container', 'medium');

                @media(min-width: $bp) {
                    padding-inline: 0;
                }
            }
        }
    }

    &.has-background {
        // If the block has a background, we need to add some padding at the
        // top and bottom
        padding-block: var(--s-block);

        // If we are not align{wide,full} we dont need the larger spacing.
        // and we can therefore overwrite it
        &:not(.alignwide):not(.alignfull) {
            // We add the extra pixel as it only appears if the block is not
            // full width after the breakpoint
            @include breakpoint(width('normal')) {
                padding-block: var(--s-container);
            }
        }

        // If we are not aligned at all then add some
        // padding to the sides to push it away from the edges on mobile and
        // some space on bigger screens to create a gap for the background
        &:not([class*='align']) {
            padding-inline: var(--s-container);
        }
    }
}
