@charset "UTF-8";

/// Reset the default styles applied to buttons
///
/// @example scss
///    @include button-reset;
///
/// @access public

@mixin button-reset {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;

    // -------------------------------------------------------------------------
    // Below is the legacy approach to resetting a button. Uncomment if you
    // need support for ie11 and edge 18 back
    // -------------------------------------------------------------------------
    // Remove default styles
    // padding: 0;
    // border: 0;
    // background: transparent;
    // border-radius: 0;

    // Applied in normalize.css
    // font-family: inherit;
    // font-weight: inherit;
    // letter-spacing: inherit;
    // line-height: inherit;
    // text-transform: inherit;
}
