@charset "UTF-8";

/// Create a container for the site content to reside in. This will center the
/// content on the page and create padding on the left and right hand side so
/// content does not sit against the edge of the screen.
///
/// @param {number} $gap [units('gap')] - The space to create at the edge
/// of the screen
///
/// @example scss
///    @include container;
///
/// @access public


// I have tried removing the width property and just using max width. Lets see
// how this goes
@mixin container($width: false) {
    max-width: 100%; // uncomment this
    padding-inline: var(--s-container);

    @if $width != false {
        // Add the container padding to the width
        width: calc(#{rem($width)} + var(--s-container) * 2);
        margin-inline: auto;
    }
}
