@mixin has-link-cover {
    a {
        &::before {
            // Little CSS hack for making the whole wrapper clickable but only
            // having the heading be read out by screen readers
            @include absolute-cover;

            z-index: 1;
            content: '';
        }
    }
}
