@charset "UTF-8";

/// Generate heading styling with attributes and sizes. References the headings
/// map for sizing
///
/// @param {string} $size - The heading to generate styling for
///
/// @example scss
///    @include heading(h1);
///
/// @access public

@mixin heading($heading) {
    @include heading-attributes($heading);
    @include heading-size($heading);
}

/// Generate heading attributes (without sizes).
/// For improved default usability, links within heading attribute elements have
/// had their styling reset to inherited.
///
/// @example scss
///    @include heading-attributes;
///
/// @access public

@mixin heading-attributes($heading: '') {
    // Font weight always needs to be output as the mixin might be applied to
    // an element that does not have the right font weight
    font-weight: $heading-font-weight;
    margin-block: calc(var(--s-paragraph) * 1.25) calc(var(--s-paragraph) * 0.25);

    @if $heading-font-family != $base-font-family {
        @if $heading-font-family != inherit {
            font-family: $heading-font-family;
        }
    }

    @if $heading-line-height != $base-line-height {
        @if $heading-line-height != inherit {
            line-height: $heading-line-height;
        }
    }

    @if $heading-color != inherit {
        color: $heading-color;
    }

    // Make a tags that are children of headings inherit styling
    // a {
    //     color: inherit;
    //     // text-decoration: none;
    // }
}

/// Generate heading sizes. References the headings map for sizing
///
/// @param {string} $size - The heading to generate styling for
///
/// @example scss
///    @include heading-size(h1);
///
/// @access public

@mixin heading-size($heading) {
    font-size: var(--fs-#{$heading});
}
