@mixin interact {
    &:hover,
    &:focus {
        // &:active {
        @content;
    }
}

@mixin interact-within {
    &:focus-within {
        @content;
    }

    &:hover,
    &:focus {
        // &:active {
        @content;
    }
}
