@charset "UTF-8";

/// Remove default list styling applied by browsers but retain margins for flow
///
/// @example scss
///    @include list-reset;
///
/// @access public

@mixin list-reset {
    list-style: none;
    padding-inline-start: 0;
}

/// Remove default list styling applied by browsers including margins
///
/// @example scss
///    @include list-reset-hard;
///
/// @access public

@mixin list-reset-hard {
    @include list-reset;

    margin-block: 0;
}
