@charset "UTF-8";

/// Make a list display its elements all on one line. Accepts a parameter
/// representing a space to place inbetween each element
///
/// @param {number} $gap [false] - The gap between each item in the list
///
/// @example scss
///    @include list-inline;
///
/// @example scss
///    @include list-inline(units('paragraph'));
///
/// @access public

@mixin list-inline($gap: false) {
    display: flex;
    flex-wrap: wrap;

    @if $gap != false {
        gap: $gap;
        // > * {
        //     margin-block-end: $gap;

        //     &:last-child {
        //         margin-block-end: 0;
        //     }
        // }
    }
}
