@charset "UTF-8";

/// Remove the top margin applied to the first child of this element.
///
/// @example scss
///    @include no-first-margin;
///
/// @access public

@mixin no-first-margin($force: false) {
    > *:first-child {
        @if $force == true {
            margin-block-start: 0 !important;
        }@else {
            margin-block-start: 0;
        }
    }
}

/// Remove the bottom margin applied to the last child of this element.
///
/// @example scss
///    @include no-first-margin;
///
/// @access public

@mixin no-last-margin($force: false) {
    > *:last-child {
        @if $force == true {
            margin-block-end: 0 !important;
        }@else {
            margin-block-end: 0;
        }
    }
}

/// Remove the top margin from the first child element and bottom margin from
/// the last child element.
///
/// @example scss
///    @include no-first-last-margin;
///
/// @access public

@mixin no-first-last-margin($force: false) {
    @include no-first-margin($force);
    @include no-last-margin($force);
}

@mixin nflm($force: false) {
    @include no-first-last-margin($force);
}
