@charset "UTF-8";

/// The image fit class makes a real image behave like a background image.
/// This class alone does not make it work, a padding needs to be added as
/// well so that it has a height to work with. There is a javascript fallback
///
/// @example scss
///    .o-objfit {
///        @include object-fit;
///    }
///
///    .post__image {
///        padding-block-start: ratio(square);
///    }
///
/// @example html
///    <div class="post__image o-objfit">
///        <img src='...' alt='...'>
///    </div>
///
/// @access public

@mixin object-fit {
    // We will be absolute positioning the child element of this so lets make
    //lets make this relative
    position: relative;

    // We might not always be using a block level element so lets make it one
    display: block;

    // &::before {
    //     display: block;
    //     content: '';
    // }
}

@mixin object-fit-asset {
    // Making the image fill the available space
    @include absolute-cover;

    // Object fit declarations
    object-fit: cover;
    object-position: 50% 50%;
}
