@mixin overflow-scroll {
    $bottom-space: 1rem;

    display: flex;
    gap: 0;
    margin-block-end: -$bottom-space;
    margin-inline: calc(var(--s-container) * -1);
    overflow-x: scroll;
    padding-block-end: $bottom-space;
    scroll-snap-type: x mandatory;

    &::before,
    &::after {
        display: block;
        content: '';
        padding-inline-start: var(--s-container);
    }

    > * {
        width: calc(100% - (var(--s-container) * 3));
        max-width: 300px;
        flex-shrink: 0;
        margin-inline-end: var(--s-container);
        scroll-snap-align: center;

        &:last-child {
            margin-inline-end: 0;
        }
    }
}
