@mixin scaffold-container {
    // Make the site have a width
    @include container(width('skinny'));

    .alignfull {
        @include alignfull;
    }

    .alignwide {
        @include alignwide;
    }

    .alignnormal {
        @include alignnormal;
    }

    // .alignleft,
    // .alignright {
    //     width: 50%;
    //     margin-block-start: 0.5em;
    // }

    // .alignleft {
    //     margin-inline-end: calc(var(--s-grid) * 2);
    //     float: left;

    //     @include breakpoint(xlarge) {
    //         width: 70%;
    //         margin-inline-start: -25%;
    //     }
    // }

    // .alignright {
    //     margin-inline-start: calc(var(--s-grid) * 2);
    //     float: right;

    //     @include breakpoint(xlarge) {
    //         width: 70%;
    //         margin-inline-end: -25%;
    //     }
    // }
}
