@charset "UTF-8";

/// Generate styling that makes the content invisible for general use but
/// readable/visible by screen readers or when focused.
///
/// @example scss
///    @include screen-reader;
///
/// @access public

@mixin screen-reader {
    @include themeable;

    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0.25em 0.5em;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; // Make text read normally even when visually wrapping

    &:focus {
        z-index: 100000;
        top: calc(var(--s-paragraph) * 0.5);
        left: calc(var(--s-paragraph) * 0.5);
        display: block;
        width: auto;
        height: auto;
        clip: auto;
    }
}
