@mixin shadow($filter: false) {
    @if
        strip-units($box-shadow-horizontal) != 0
        or strip-units($box-shadow-vertical) != 0
        or strip-units($box-shadow-blur) != 0
        or strip-units($box-shadow-spread) != 0 {

        @if $filter {
            filter: drop-shadow($box-shadow-horizontal
            $box-shadow-vertical
            $box-shadow-blur
            $box-shadow-color);
        } @else {
            box-shadow:
                $box-shadow-horizontal
                $box-shadow-vertical
                $box-shadow-blur
                $box-shadow-spread
                $box-shadow-color;
        }
    }
}
