@mixin themeable($inherit: true) {
    @if $inherit {
        background-color: rgb(var(--sbg, var(--bg)));
        color: rgb(var(--sfg, var(--fg)));
    } @else {
        background-color: rgb(var(--bg));
        color: rgb(var(--fg));
    }
}
