/* stylelint-disable */
@use "sass:map";

@mixin theme($background, $secondary: false, $inherit-theme: false) {
    // Do we need to pull the secondary color to the primary color provided
    @if $secondary == true {
        $background: map.get($color-map-secondary, $background);
    }

    // Pull the secondary color the background
    $sbackground: map.get($color-map-secondary, $background);

    // Set the bg and fg variables
    --bg: #{hex-to-rgb(color($background))};
    --fg: #{hex-to-rgb(color(map.get($color-map, $background)))};

    @if $inherit-theme == true {
        .inherit-theme {
            --sbg: #{hex-to-rgb(color($sbackground))};
            --sfg: #{hex-to-rgb(color(map.get($color-map, $sbackground)))};

            ::selection {
                $selection-background: map.get($color-map, $sbackground);

                --sbg: #{hex-to-rgb(color($selection-background))};
                --sfg: #{hex-to-rgb(color(map.get($color-map, $selection-background)))};
            }
        }
    }
}
