@use "sass:map";

@mixin units($property, $index) {
    $unit: units($index); // Pull the index from the units map

    // -------------------------------------------------------------------------
    // Lets check if the value in $unit is a map with breakpoints and values, or
    // a single value and we need to just put it in the property
    // -------------------------------------------------------------------------
    @if is-map($unit) {
        @if map.has-key($unit, 'root') {
            @include units-property($property, map.get($unit, 'root'));
        }

        // ---------------------------------------------------------------------
        // This unit is a map of breakpoints an values. We loop the global
        // mq-breakpoints as we are looking for specific breakpoint key value
        // pairs in the $unit map.
        // ---------------------------------------------------------------------
        @each $breakpoint, $pixels in $mq-breakpoints {
            // -----------------------------------------------------------------
            // Are we generating a value that needs to have a media query or the
            // root value
            // -----------------------------------------------------------------
            @if map.has-key($unit, $breakpoint) {
                // Check if the $unit map has this breakpoint
                @include breakpoint($breakpoint) {
                    @include units-property($property, map.get($unit, $breakpoint));
                }
            }
        }
    } @else {
        @include units-property($property, $unit);
    }
}
