@import '../components/core';

// The views for gravity forms are disabled so lets hide the views and
// conversions column
.gform-admin {
    .column-view_count,
    .column-conversion {
        display: none;
    }

    [value=reset_views] {
        display: none;
    }
}

.nflm {
    @include nflm;
}
