@charset "UTF-8";

$asset-url-prefix: '../';

// Core is imported first as it should not output anything to a processed file.
// If there is something in a processed file before the normalize comments, then
// the code in core needs to be refactored
@import '../components/core';

// Import core components that alter the presentation of gutenberg blocks
@import '../components/1-elements/fonts';
@import '../components/1-elements/box-sizing';
@import '../components/1-elements/html';
@import '../components/1-elements/body';
@import '../components/1-elements/root';
@import '../components/1-elements/selection';
@import '../components/1-elements/type';
@import '../components/1-elements/blockquote';
@import '../components/1-elements/headings';
@import '../components/1-elements/pre';
// @import '../components/1-elements/forms';
@import '../components/1-elements/figure';
@import '../components/1-elements/img';
@import '../components/1-elements/a';
@import '../components/1-elements/table';
@import '../components/1-elements/iframe';
@import '../components/1-elements/hr';
// @import '../components/1-elements/button';

// Bring in all our components
@import '../components/components-editor';

// Modify the font family of the title to match
.editor-post-title__block {
    .editor-post-title__input {
        font-family: $heading-font-family;
    }
}

.is-root-container {
    // Add all the has and is classes to the acf preview screen so the styling
    // does not conflict with the gutenberg editor
    .acf-block-preview {
        @import '../components/3-blocks/1-wordpress/styles';
    }

    // All root level blocks
    >.wp-block {
        // Provide the default width to the components in the editor
        max-width: width('skinny');
        margin-inline: auto;

        // Width of "wide" blocks
        &[data-align='wide'] {
            max-width: width('wide');
        }

        // full of "full-wide" blocks
        &[data-align='full'] {
            max-width: none;
        }

        // This is only going to be on custom blocks as its not possible to
        // extend the Gutenberg width picker with new widths
        &:has(.alignnormal) {
            max-width: width('normal');
            background: transparent !important;
            margin-inline: auto;
        }

        // The wp-block element is also an ACF component.
        // All ACF blocks get some weird spacing due to the wrapper classes.
        // Lets clean it up and add some default spacing. This will result in
        // different spacing than on the frontend but not much we can do.
        // Also hide anything that goes outside the normal bounds of the block
        // as its hard to control those things in the admin
        &.acf-block-component {
            @include no-first-last-margin(true);

            overflow: hidden;
            margin-block: var(--s-block) !important;

            // Remove the width applied to the block if its an ACF block and
            // we are in the edit screen
            &:not(.acf-block-preview) {
                max-width: none;
            }

            // When a block is aligned full it has a -8px margin on the left and
            // right. Lets remove that when we are not previewing an acf block
            &:not(:has(.acf-block-preview)) {
                margin-inline: auto !important;
            }
        }
    }
}

// Fig bug introduced in adding space to iframes
.acf-editor-wrap iframe {
    margin-block: 0;
}

// Fix alignment of innerblocks in acf blocks
.acf-innerblocks-container {
    .wp-block {
        max-width: none;
    }
}
