// At some point this can all be replaced with aspect-ratio
// https: //caniuse.com/?search=aspect-ratio
.objfit {
    @include object-fit;

    img,
    video,
    iframe {
        @include object-fit-asset;
    }

    &.is-contain {
        img,
        video,
        iframe {
            object-fit: contain;
        }
    }
}
