$comment-indent: 2rem;
$comment-image-size: 4rem;

.comments-title {
    @include ts-h4;
}

.comment-list {
    @include list-reset-hard;

    > * {
        border-top: 1px solid currentColor;
        margin-block-start: $comment-indent;
        padding-inline-start: $comment-indent;

        &:first-child {
            border-top: 0;
            margin-block-start: 0;
            padding-inline-start: 0;
        }
    }

    .children {
        @include list-reset-hard;

        margin-block-start: $comment-indent;
        margin-inline-start: $comment-image-size + $comment-indent;

        > * {
            margin-block-start: $comment-indent;

            &:first-child {
                margin-block-start: 0;
            }
        }
    }
}

.comment-body {
    position: relative;
    padding-inline-start: $comment-image-size + $comment-indent;

    .reply {
        @include button;

        position: absolute;
        top: 0;
        right: 0;
    }
}

.comment-meta {
    display: flex;
    align-items: baseline;
    margin-block-end: 2rem;

    .says {
        display: none;
    }
}

.comment-author {
    text-transform: uppercase;

    > img {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: $comment-image-size;
        border-radius: 50%;
    }
}

.comment-metadata {
    margin-inline-start: 1em;
}

.comment-content {
    @include no-first-last-margin;
}

.comment-respond {
    border-top: 1px solid currentColor;
    margin-block-start: $comment-indent * 2;
    padding-block-start: $comment-indent * 2;
}

.comment-reply-title {
    @include ts-h5;
}

.comment-notes {
    text-align: center;
}

.comment-form {
    display: flex;
    flex-direction: column;

    .comment-notes { order: 1; }
    .comment-form-author { order: 2; }
    .comment-form-email { order: 3; }
    .comment-form-comment { order: 4; }
    .comment-form-url { order: 5; }
    .comment-form-cookies-consent { order: 6; }
    .form-submit { order: 7; }
}

.comment-form-url {
    display: none;
}

.form-submit {
    text-align: center;

    [type=submit] {
        @include button;
    }
}
