@import '../../core';

.flag {
    &__outer {
        display: grid;
        gap: var(--s-paragraph);

        @include breakpoint($primary-breakpoint) {
            align-items: flex-start;
            gap: calc(var(--s-block) / 2);
            grid-template-columns: 1fr 1fr;
        }
    }

    &__content {
        margin-block-start: var(--s-paragraph);
    }

    &__media {
        aspect-ratio: 6/4;
    }

    &.is-reverse {
        .flag {
            &__media {
                @include breakpoint($primary-breakpoint) {
                    order: -1;
                }
            }
        }
    }
}
