@import '../../core';

.kitchen-sink {
    &__component {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__controls {
        @include themeable;
        @include theme('white');

        position: fixed;
        z-index: 10;
        right: 0;
        bottom: 0;

        fieldset {
            margin: 0;
        }

        label {
            margin: 0;
        }
    }
}
