.accordion {
    &__item {
        border-top: 1px solid currentColor;

        &[open] {
            > .accordion__item-heading {
                &::after {
                    content: '-';
                }
            }
        }

        &:first-child {
            border-top: 0;
        }

        &-heading {
            position: relative;
            margin: 0;
            cursor: pointer;
            list-style: none;
            padding-block: 0.5em;

            &::-webkit-details-marker {
                display: none;
            }

            &::after {
                $size: 2em;

                position: absolute;
                top: 50%;
                right: 0;
                width: $size;
                height: $size;
                border-radius: 9999px;
                content: '';
                content: '+';
                line-height: $size;
                text-align: center;
                transform: translateY(-50%);
            }
        }

        &-content {
            padding-block-end: var(--s-paragraph);
        }
    }

    // @each $background, $foreground in $color-map-secondary {
    //     .has-#{$background}-background-color & {
    //         .accordion__item-heading::before {
    //             @include theme($background, true);
    //         }
    //     }
    // }
}
