.wp-block-buttons {
    // We alias the spacing so we can override the cascade easier
    --s-btns: var(--s-item);
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-btns);
}

.wp-block-button {
    &.has-custom-width {
        flex-grow: 1;

        a {
            width: 100%;
        }
    }
}

.wp-block-button__width-25 {
    width: calc(25% - var(--s-btns));
    max-width: calc(25% - (var(--s-btns) / 2));
}

.wp-block-button__width-50 {
    width: calc(50% - var(--s-btns));
    max-width: calc(50% - (var(--s-btns) / 2));
}

.wp-block-button__width-75 {
    width: calc(75% - var(--s-btns));
    max-width: calc(75% - (var(--s-btns) / 2));
}

.wp-block-button__width-100 {
    width: 100%;
}

// .wp-block-button {
//     &.alignright,
//     &.alignleft {
//         text-align: inherit;
//     }

//     &__link {
//         @include button;
//     }

//     &.aligncenter {
//         @include margin-vertical('paragraph');
//     }
// }
