.wp-block-cover,
.wp-block-cover-image {
    // @include shadow;
    @include no-first-last-margin;

    width: auto;
    min-height: 0;
    margin-block: var(--s-block);
    padding-block: var(--s-block);

    @include breakpoint($until: $primary-breakpoint) {
        float: none;
    }

    &__inner-container {
        @include no-first-last-margin;

        max-width: width('skinny');
    }

    // &.alignfull {
    //     border-radius: 0;
    // }
}
