.wp-block-embed {
    width: auto;

    &.alignwide,
    &.alignfull {
        padding-inline: 0;
    }

    &[class*='16-9'] {
        .wp-block-embed__wrapper {
            aspect-ratio: 16/9;
        }
    }

    iframe {
        display: block;
        background: var(--foreground);
    }
}

.wp-has-aspect-ratio {
    .wp-block-embed__wrapper {
        position: relative;

        > * {
            @include absolute-cover;

            margin: 0 auto !important;
        }
    }
}
