.wp-block-gallery {
    --columns: 1;

    &.alignwide,
    &.alignfull {
        padding-inline: 0;
    }

    ul {
        @include list-reset-hard;
    }

    li {
        // Fixes if the gutenberg stylesheet is loaded
        width: 100% !important;
        margin: 0 !important;
    }

    figure {
        margin: 0;
    }

    .blocks-gallery-grid {
        display: grid;
        gap: var(--s-grid);
        grid-template-columns: repeat(var(--columns, 1), 1fr);
    }

    @for $i from 2 through 9 {
        &.columns-#{$i} {
            @include breakpoint($primary-breakpoint) {
                --columns: #{$i};
            }
        }
    }

    &.is-cropped {
        figure,
        picture {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
