.wp-block-image {
    &.alignwide,
    &.alignfull {
        padding-inline: 0;
        // margin-block: var(--s-block);

        img {
            width: 100%;
        }
    }

    img {
        height: auto;
        vertical-align: middle;
    }

    // &.alignfull {
    //     img {
    //         border-radius: 0;
    //     }
    // }

    // &.is-resized {
    //     img {
    //         width: auto;
    //     }
    // }
}
