.wp-block-pullquote {
    padding: 0;
    border: 0;
    color: inherit;

    blockquote {
        @include blockquote;
    }

    &:not(.alignleft):not(.alignright) {
        margin-block: var(--s-block);
    }
}
