.wp-block-separator {
    border: 0;
    margin-block: var(--s-block);
    // width: 50%;
    // clear: both;

    // &.is-style-wide {
    //     width: 100%;
    // }

    &.is-style-dots {
        &::before {
            padding-left: 0;
        }
    }
}
