@import '../../core';

.terms {
    $focus-space: 0.3em;

    position: relative;
    border-top-right-radius: var(--radius);
    font-size: var(--fs-smaller);
    margin-inline: calc(var(--s-container) * -1);

    @include breakpoint($primary-breakpoint) {
        background: transparent;
        border-top-right-radius: 0;
        margin-inline: 0;
        padding-block: 0 !important;
    }

    &::before {
        @include breakpoint($primary-breakpoint) {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 50%;
            bottom: 0;
            width: 50vw;
            background: rgb(var(--bg));
            content: '';
        }
    }

    .link-list__items {
        flex-wrap: nowrap;
        margin-block: -$focus-space;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        @include breakpoint($until: $primary-breakpoint) {
            gap: 0;
        }

        @include breakpoint($primary-breakpoint) {
            position: relative;
            z-index: 1;
            overflow: visible;
            flex-wrap: wrap;
            justify-content: center;
            background: rgb(var(--bg));
            border-top-right-radius: var(--radius);
            column-gap: var(--s-grid);
            padding-block: var(--s-paragraph) !important;
        }

        &::before,
        &::after {
            display: block;
            width: var(--s-container);
            flex-shrink: 0;
            content: '';

            @include breakpoint($primary-breakpoint) {
                display: none;
            }
        }

        > * {
            margin-inline-end: calc(var(--s-container) * 1.5);

            @include breakpoint($primary-breakpoint) {
                margin-inline-end: 0;
            }

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }

    a {
        display: block;
        margin-block: $focus-space;
        text-decoration-color: inherit;
        white-space: nowrap;
    }

    .is-active {
        text-decoration-style: solid;
    }
}
