.post-meta {
    &__item {
        margin-block-start: var(--s-paragraph);

        &:first-child {
            margin-block-start: 0;
        }

        &.is-terms {
            font-weight: bolder;

            a {
                &::before {
                    content: '#';
                }
            }
        }
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-item);
    }

    dd {
        padding-inline-start: 0;

        &:not(:last-child) {
            &::after {
                content: '|';
                margin-inline-start: var(--s-item);
            }
        }
    }
}
