.breadcrumbs {
    --gap: 0.5em;
    // @include container(width('normal'));

    // position: absolute;
    // z-index: 1;
    // top: calc(var(--header-height) + 2rem);
    // left: 50%;
    // font-size: var(--fs-smallest);
    // font-weight: bolder;
    // transform: translateX(-50%);

    margin-block-start: 0;

    .link-list__items {
        gap: var(--gap);

        li {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                &::after {
                    display: inline-flex;
                    width: 0.4em;
                    height: 0.4em;
                    border-top: var(--border-width) solid currentColor;
                    border-right: var(--border-width) solid currentColor;
                    content: '';
                    margin-block-end: -0.25em;
                    margin-inline-start: var(--gap);
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
    }
}

// .has-breadcrumbs {
//     --additional: 24px;
// }
