.accessibility-controls {
    position: relative;

    &__button {
        $size: rem(53px);

        width: $size;
        height: $size;
        border: var(--border-width) solid currentColor;
        border-radius: 50%;

        svg {
            @include absolute-center;

            width: 50%;
        }

        path {
            fill: currentColor;
        }

        &[aria-expanded='true'] {
            @include button-interact;
        }
    }

    &__group {
        @include transition(opacity, visibility);

        position: absolute;
        top: calc(100% + var(--s-paragraph));
        right: 0;
        margin: 0;

        @include breakpoint($until: $primary-breakpoint) {
            width: calc(100vw - (var(--s-container) * 2));
        }

        @include breakpoint($primary-breakpoint) {
            min-width: rem(400px);
        }

        :not([aria-expanded='true'])+& {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }

    &__heading {
        width: 100%;
        padding: 0;
        float: left;
        margin-inline-start: 0;
    }

    &__content {
        // clear: both; // Clear the float on the heading. Not explicitly needed
        font-size: var(--fs-small);
    }

    &__controls {
        margin-block-start: var(--s-paragraph);
    }

    &__control {
        $gap: 0.5em;

        display: flex;
        align-items: baseline;
        border-top: var(--border-width) solid currentColor;
        gap: 0.25em;
        margin-block-end: $gap;
        padding-block-start: $gap;

        &:last-child {
            border-bottom: 0;
        }

        input {
            position: relative;
            top: 0.1em;
            order: -1;
        }

        label {
            font-weight: inherit;
            margin-block-end: 0;
        }
    }
}
