.is-line-height {
    line-height: 1.5;

    * {
        line-height: inherit !important;
    }
}

.is-no-motion {
    *,
    *::before,
    *::after {
        animation-name: none !important;
        scroll-behavior: auto !important;
        transition: none !important;
    }
}

.is-start-text-align {
    *:not(.metrics__item-value):not(.round-button) {
        text-align: inherit !important;
    }
}

.is-desaturate {
    filter: grayscale(1);
}

.is-low-data {
    font-family: system-ui;

    * {
        font-family: inherit !important;
    }

    .hide-low-data {
        display: none;
    }
}

// .is-high-contrast {
//     body {
//         background: #fff;
//         color: #000;
//     }

//     .has-background {
//         background: #fff;
//         color: #000;
//     }
// }

.is-dyslexic-friendly {
    font-family: od;

    * {
        font-family: inherit !important;
    }
}
