::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
}

fieldset {
    padding: var(--s-container);
    border: var(--border-width) solid currentColor;
}

legend {
    // Makes the fields and the legend align
    margin-inline-start: calc(var(--s-paragraph) * -0.5);
    padding-inline: calc(var(--s-paragraph) * 0.5);
}

label {
    display: inline-block;
    margin-block-end: calc(var(--s-paragraph) * 0.5);
}

[for] {
    cursor: pointer;
}

input,
select,
textarea {
    @include input;
}

select {
    appearance: none;
}

[type=checkbox],
[type=radio] {
    display: inline-block;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

// [1] Webkit hack to change autofill background
// input:-webkit-autofill {
//     box-shadow: 0 0 0 1000px $input-background inset; // [1]
// }

textarea,
[multiple] {
    height: $textarea-height;
    min-height: $textarea-height;
    // https: //caniuse.com/?search=field-sizing
    field-sizing: content;
    resize: vertical;
}

[disabled] {
    cursor: not-allowed;
}
