// [1] Making images fit within text
// [2] Removing the gap underneath images caused by inlineblock
// [3] Basic responsive images
img:not([width]) {
    display: inline-block; // [1]
    width: auto; // [3]
    height: auto; // [3]
    vertical-align: middle; // [2]
}

img {
    max-width: 100%; // [3] Images not exceed the container width
}
