ol,
ul,
dd {
    padding-inline-start: var(--s-paragraph);
}

dd {
    margin-inline-start: 0;
}

li {
    ol,
    ul {
        margin-block: 0;
    }
}

dd {
    + dt {
        margin-block-start: calc(var(--s-paragraph) / 2);
    }
}
