table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

td,
th {
    padding: calc(var(--s-paragraph) / 2);
    border-bottom: var(--border-width) solid currentColor;

    &:first-child {
        padding-inline-start: 0;
    }

    &:last-child {
        padding-inline-end: 0;
    }
}

// Allows tables to be scrollable if they are wrapped in a div with a role,
// aria-label, and a tabindex
[role='region'][aria-label][tabindex] {
    overflow: auto;
}
