// ----------------------------------------------
// Standard element margins
// Possibly need to expand this to include more things
// ----------------------------------------------
p,
ul,
ol,
table,
iframe,
embed,
hr,
address,
blockquote,
pre,
dl,
fieldset {
    margin-block: var(--s-paragraph);
}

small {
    font-size: var(--fs-small);
}

// We don't know if the code generator (WordPress) is going to use em or the
// deprecated i, Therefore we add style for both
i,
em {
    font-style: italic;
}

strong,
b,
dt {
    font-weight: $base-bold-weight;
}

// [1] Default browser styling is to align a caption to the center, lets make
// it inherit styling
// caption {
//     text-align: inherit; // [1]
// }
