.footer {
    padding: calc(var(--s-block) / 2) 0 !important;

    &__logo {
        display: block;
        width: 120px;

        svg {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__menu {
        @include list-reset-hard;

        margin-block-start: var(--s-paragraph);
    }

    &__copyright {
        margin-block-start: var(--s-paragraph);
    }
}
