@import '../../core';

.{{template-slug}} {
    &__outer {

    }

    &__header {

    }

    &__heading {

    }

    &__content {

    }

    &__items {

    }

    &__item {
        &-heading {

        }

        &-content {

        }

        &-media {
            aspect-ratio: 6/4;
        }
    }

    &__media {
        aspect-ratio: 6/4;
    }
}
