@mixin button($theme: $button-theme) {
    @include button-base;

    // -------------------------------------------------------------------------
    // Normal button styles
    // -------------------------------------------------------------------------
    // @include button-theme($theme);
    @include button-color(
        $text: inherit,
        $background: '',
        $border: currentColor
    );
}

@mixin button-base {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em 0.6em;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: var(--fs-button);
    line-height: inherit;
    text-decoration: none; // Remove the underline if this is an a tag
    vertical-align: middle; // Removes line height issues with inline-block

    @include interact {
        @include button-interact;
    }

    &::before,
    &::after {
        @include transition(opacity, scale);
        @include absolute-cover;
        border-width: var(--border-width);
        border-radius: inherit;
        content: '';
    }

    &::before {
        border-style: dashed;
    }

    &::after {
        border-style: solid;
        opacity: 0;
        scale: 1.05;
    }

    &[aria-selected=true] {
        @include button-interact;
    }
}

@mixin button-interact {
    &::before {
        opacity: 0;
        scale: .95;
    }

    &::after {
        opacity: 1;
        scale: 1;
    }
}

// @mixin button-theme($theme) {
//     $base: $theme;
//     $hover: map-get($color-map-secondary, $theme);

//     @include button-color(
//         $text: color(map-get($color-map, $theme)),
//         $background: color($theme),
//         $border: color($theme)
//     );

//     // Set the hover styles
//     @include supports-hover {
//         @include interact {
//             @include button-color(
//                 $text: color(map-get($color-map, $hover)),
//                 $background: color($hover),
//                 $border: color($hover)
//             );
//         }
//     }
// }

@mixin button-color($text, $background, $border) {
    color: $text;

    &::before,
    &::after {
        border-color: $border;
    }
}
