@mixin cross($color: currentColor) {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        @include transition(rotate);

        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 1px;
        background: $color;
        content: '';
        rotate: var(--rotation);
        translate: -50% -50%;
    }

    &::before {
        --rotation: 45deg;
    }

    &::after {
        --rotation: -45deg;
    }
}
