@mixin input {
    display: block;
    width: 100%;
    padding: $input-padding;
    border: var(--border-width) solid $input-border-color;
    border-radius: 0;
    accent-color: rgb(var(--sfg, var(--fg)));
    background: $input-background;
    box-shadow: none; // Fix iOS inconsistencies
    color: $input-color;
    font-family: inherit; // normalize for some reason makes an opinionated call and sets this to something other than inherit...
    font-size: var(--fs-small);
    line-height: inherit // normalize for some reason makes an opinionated call and sets this to something other than inherit...
}
