@mixin link {
    color: inherit;
    cursor: pointer;
    // The following properties need to be expressed in long form as safari
    // does not support the shorthand nicely
    // text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    // text-decoration-thickness: var(--border-width);
    // text-underline-offset: 0.25em;

    @include interact {
        @include link-interact;
    }
}

@mixin link-interact {
    color: inherit;
    text-decoration-style: solid;
}
