@mixin round-button {
    $size: rem(40px);

    @include transition(background);

    position: relative;
    display: block;
    width: $size;
    height: $size;
    border: var(--border-width) dashed currentColor;
    border-radius: 50%;
    line-height: $size;
    text-align: center;
    text-decoration: none;

    @include interact {
        @include round-button-active;
    }

    &::after {
        @include transition(opacity);

        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border: var(--border-width) solid currentColor;
        border-radius: 50%;
        content: '';
        opacity: 0;
    }
}

@mixin round-button-active {
    &::after {
        opacity: 1;
    }
}
