@import './styles/sortabable-table';
@import '../../core';

.sortable {
    th {
        button {
            display: flex;
            align-items: center;
            padding: 0;

            &::before {
                display: none;
            }

            &::after {
                position: static;
                display: block;
                width: 0.5em;
                height: 0.5em;
                border: 0;
                border-right: 2px solid var(--chevron-color, transparent);
                border-bottom: 2px solid var(--chevron-color, #{color('red')});
                border-bottom-right-radius: 2px;
                content: '';
                margin-block-end: -0.5em;
                margin-inline-start: 0.75em;
                opacity: 1;
                transform: translateY(var(--translateY, -50%)) rotate(var(--rotation, 0deg));
                transition: transition(transform, border-color);
            }
        }
    }

    [aria-sort] {
        .btn {
            @include button-interact;
        }
    }

    [aria-sort='descending'] {
        --rotation: 45deg;
        --translateY: -50%;
        --chevron-color: #{color('red')};
    }

    [aria-sort='ascending'] {
        --rotation: -135deg;
        --translateY: -0%;
        --chevron-color: #{color('red')};
    }
}
