// .sortable {
//     th {
//         button {
//             align-items: center;

//             &::before {
//                 display: none;
//             }

//             &::after {
//                 position: static;
//                 display: block;
//                 width: 0.5em;
//                 height: 0.5em;
//                 border: 0;
//                 border-right: 2px solid #c9716b;
//                 border-bottom: 2px solid #c9716b;
//                 margin-block-end: -0.5em;
//                 margin-inline-start: 0.75em;
//                 border-bottom-right-radius: 2px;
//                 content: '';
//                 opacity: 1;
//                 transform: rotate(45deg);
//             }
//         }
//     }
// }

// .sortable th[aria-sort='descending'] span::after {
//     // top: 0;
//     // color: currentcolor;
//     content: '▼';
//     // font-size: 100%;

//     width:
// }

// .sortable th[aria-sort='ascending'] span::after {
//     // top: 0;
//     // color: currentcolor;
//     content: '▲';
//     // font-size: 100%;
// }

// table.show-unsorted-icon th:not([aria-sort]) button span::after {
//     // position: relative;
//     // top: -3px;
//     // left: -4px;
//     // color: currentcolor;
//     content: '♢';
//     // font-size: 100%;
// }

// .sortable th:not([aria-sort]) button:focus span::after,
// .sortable th:not([aria-sort]) button:hover span::after {
//     // top: 0;
//     // color: currentcolor;
//     content: '▼';
//     // font-size: 100%;
// }
