.tag-and-heading {
    display: flex;
    flex-direction: column;
    gap: calc(var(--s-paragraph) / 2);
    margin-block-end: var(--s-paragraph);

    &__tag {
        order: -1;
        margin: 0;
        font-family: $heading-font-family;
        font-size: var(--fs-small);
        font-weight: inherit;
        letter-spacing: inherit;
    }

    &__heading {
        margin: 0;
    }
}
