.burger {
    $size: rem(32px);
    $thickness: var(--border-width);

    position: relative;
    width: $size;
    height: $size;

    &__line {
        @include transition(transform);

        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: $thickness;
        border-radius: $thickness;
        background: currentColor;
        transform: translate(-50%, calc(var(--offset) - 50%)) rotate(var(--rotation, 0));

        &--1 {
            --offset: #{-$size * 0.25};
        }

        &--2 {
            --offset: #{$size * 0.25};
        }
    }

    // &:hover,
    // &:focus {
    //     .burger__line {
    //         &--1 {
    //             --rotation: 90deg;
    //             --offset: 0;
    //         }

    //         &--2 {
    //             --rotation: 180deg;
    //             --offset: 0;
    //         }
    //     }
    // }

    &[aria-expanded='true'] {
        .burger__line {
            &--1 {
                --rotation: 45deg;
                /* stylelint-disable-next-line */
                --offset: 0px;
            }

            &--2 {
                --rotation: -45deg;
                /* stylelint-disable-next-line */
                --offset: 0px;
            }
        }
    }
}
