// [1] - If a margin bottom is applied to the header on mobile, the dropdown
// menu will not adopt a full screen height with stretch/fill-available. To
// deal with this we will add the margin to the site-wrapper instead to create
// the space needed.
.site-wrapper {
    @include scaffold-container;

    @if $fixed-header == true {
        // margin-block-start: var(--header-height); // [1]

        @include breakpoint($primary-breakpoint) {
            margin-block-start: 0; // [1]
        }
    }
}
