.c-card {
    $border-weight: rem(2px);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--s-paragraph);

    &__outer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__heading {
        @include has-link-cover;

        margin: 0;
        // ---------------------------------------------------------------------
        // Magic code for forcing new lines that are accessible and dont cause
        // a pause in the browser reading the text.
        // https://codepen.io/sandrina-p/pen/VwadjVL
        // https://twitter.com/simevidas/status/1317586897548476418
        // ---------------------------------------------------------------------
        // white-space: pre-line;
        // ---------------------------------------------------------------------
    }

    &__content {
        flex-grow: 1; // Push, the meta to the bottom
        margin-block-start: var(--s-paragraph);

        // Move the card content above the pseudo element that is making the
        // card clickable only on devices that support hover, and in theory,
        // clicking and dragging of text
        // @include supports-hover {
        //     position: relative;
        //     z-index: 2;
        // }
    }

    &__meta {
        order: 2;
        margin-block-start: var(--s-paragraph);
    }

    &__media {
        order: -1;
        aspect-ratio: 6/4;
        // margin-block-end: var(--s-paragraph);
    }

    // If the card heading doesnt have a link but the card content itself does,
    // lets mark the whole card clickable
    &.has-content-link {
        .c-card__content {
            @include has-link-cover;
        }
    }
}
