.ui-datepicker {
    @include theme('black');

    border: var(--border-width) solid color('black');

    &-header {
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    &-title {
        display: flex;
    }

    &-year {
        margin-inline-start: 0.5em;
    }

    &-prev,
    &-next {
        cursor: pointer;

        &::before {
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-block-start: 1px solid currentColor;
            border-inline-end: 1px solid currentColor;
            content: '';
        }

        span {
            @include screen-reader;
        }
    }

    &-prev {
        margin-inline-end: auto;
        transform: translateX(50%) rotate(-135deg);
    }

    &-next {
        order: 1;
        margin-inline-start: auto;
        transform: translateX(-50%) rotate(45deg);
    }

    &-calendar {
        text-align: center;

        a {
            text-decoration: none;
        }

        td {
            font-weight: normal;

            a {
                @include theme('white');

                @include interact {
                    @include theme('black');
                }
            }
        }

        .ui-datepicker-unselectable {
            @include theme('white');
        }

        .ui-datepicker-unselectable {
            opacity: 0.25;
        }

        .ui-datepicker-current-day {
            a {
                @include theme('white'); }
        }
    }

    th,
    td {
        padding: 0;

        > * {
            display: block;
            padding: 0.25em;
        }
    }
}
